$white: #fff;
$black: #000;
$yesil: #aed28f;
$sari: #f5c518;

$bg: #f7f7f7;
$text: #382b22;
$light-pink: #f5fff0;
$pink: #f5ffe9;
$dark-pink: #ddf9c4;
$pink-border: #95b185;
$pink-shadow: #f1ffe2;

body {
  margin: 0;
  padding: 0;
  background: $bg;
}

.header {
  background: $yesil;
  color: $white;
  font-size: 32px;
  padding: 15px 0;

  .logo {
    span:nth-child(1) {
      font-weight: 500;
    }
  }
}

.rastgeleFilmGetir {
  
  padding: 75px 0;


  .fragmanClose {
    position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1;
  color: #fff;
  background: #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

  .filmResmi {
    position: relative;

    img {
      border-radius: 0.75em;
      -webkit-border-radius: 0.75em;
      -moz-border-radius: 0.75em;
      -ms-border-radius: 0.75em;
      -o-border-radius: 0.75em;
      width:100%;
  }

    &:hover {
        cursor: pointer;
    }

    &:hover .icon {
      background: $sari;
      transition: 0.5s ease all;
      -webkit-transition: 0.5s ease all;
      -moz-transition: 0.5s ease all;
      -ms-transition: 0.5s ease all;
      -o-transition: 0.5s ease all;
}

    &:hover .icon i {
      color: $black;
      transition: 0.5s ease all;
      -webkit-transition: 0.5s ease all;
      -moz-transition: 0.5s ease all;
      -ms-transition: 0.5s ease all;
      -o-transition: 0.5s ease all;
    }

    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
      background: #0009;
      border-radius: 50%;
      width: auto;
      height: auto;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      transition: 0.5s ease all;
      -webkit-transition: 0.5s ease all;
      -moz-transition: 0.5s ease all;
      -ms-transition: 0.5s ease all;
      -o-transition: 0.5s ease all;
      i {
        transition: 0.5s ease all;
        -webkit-transition: 0.5s ease all;
        -moz-transition: 0.5s ease all;
        -ms-transition: 0.5s ease all;
        -o-transition: 0.5s ease all;
      }
    }
  }

  .filmBilgileri {
    .filmAdi {
      font-size: 32px;
      font-weight: bold;
    }

    .baslik {
      font-weight: 500;
    }

    .filmPuanVizyon {
      display: flex;
      margin: 10px 0;

      .filmPuan {
        border-radius: 0.75em;
        background: $sari;
        -webkit-border-radius: 0.75em;
        -moz-border-radius: 0.75em;
        -ms-border-radius: 0.75em;
        -o-border-radius: 0.75em;
      }

      .filmVizyon {
        margin: 0 7.5px;
      }

      .filmSuresi {
        margin: 0 7.5px;
      }

      .bilgi {
        border-radius: 0.75em;
        padding: 3px 15px;
        background: $sari;
        -webkit-border-radius: 0.75em;
        -moz-border-radius: 0.75em;
        -ms-border-radius: 0.75em;
        -o-border-radius: 0.75em;
      }
    }
  }
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 0px;

  .degistirBtn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    outline: none !important;
    &.degistirBtn {
      font-weight: 600;
      color: $text;

      padding: 15px 20px;
      background: $light-pink;
      border: 2px solid $pink-border;
      border-radius: 0.75em;
      transform-style: preserve-3d;
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $dark-pink;
        border-radius: inherit;
        box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
        transform: translate3d(0, 0.75em, -1em);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
      }
      &:hover {
        background: $pink;
        transform: translate(0, 0.25em);
        &::before {
          box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
          transform: translate3d(0, 0.5em, -1em);
        }
      }
      &:active {
        background: $pink;
        transform: translate(0em, 0.75em);
        &::before {
          box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
          transform: translate3d(0, 0, -1em);
        }
      }
    }
  }
}




.listedekiFilmler {

  padding: 75px 0;
  background: $yesil;
  

  .filmVerileri {

  }

 
}


